// VARIABLES
//

// FONT-STACK
$font-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-code: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-brand: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

// COLOR PALETTE
$success: green;
$warning: yellow;
$danger : red;
